@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');



*{
    margin: 10px auto;
    font-family: "Roboto", sans-serif;
}


.namestorage{
    display: block;
  margin:10px 90px;
}

#h2{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin: 10px 50px 0;
}

#calculator{
    margin: 2rem auto;
    width: 400px;
    background-color: black;
    padding: 2em;
    color: white;
    
}

#calculator #display{
    width: 85%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: none;
    background-color: black;
      color: white;
      font-size: 40px;
}
.btn button{
    cursor: pointer;
    border-radius: 50%;
    border: none;
     width: 100%;
     padding: 1.7rem;
     color: white;
     font-weight: bold;
     font-size:25px;
     margin-bottom: 1em;
     transition: transform 0.1s ease-in-out;
}

.btn button:active{
  transform: scale(1.2) ;
}

.yellow{
    background-color: orange;
}

.black{
    background-color: rgb(51, 48, 48);
}
 .grey{
    background-color: rgb(148, 145, 145);
}

.btn{
    gap: 14px;
    display: flex;
    
}


/*weather card*/

.card{
    margin: 50px auto 0;
    width: 400px;
    background: linear-gradient(135deg ,#00feba, #5b548a);
    padding: 4em 2em;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.search{
    width: 100%;
        display: flex;
      align-items: center;
    justify-content: space-between;
}


.search input{
    width: 200px;
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 20px;
    padding: 10px 50px;
    margin-right: 0;
    font-size: 15px;
    color:#5b548a;
}
#weatherbtn img{
width: 15px;
}

#weatherbtn{
    cursor: pointer;
    border-radius: 50%;
    border: none;
     width: 100%;
     padding: 1.7rem;
     color: white;
     font-weight: bold;
     font-size:25px;
     margin-bottom: 1em;
     transition: transform 0.1s ease-in-out;
    background:#ebfffc;
    width: 10%;
    padding: 0.1rem 0.3rem;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 0;
}

.about{
    display: flex;
    margin-top: 3rem;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    
}

.col img{
    width:40px;
    margin-right: 10px;
}

#weathericon{
    position: absolute;
    width: 180px;
    margin-top: 10px;
    cursor: pointer;
}

#weathericon2{
    width: 180px;
    margin-top: 10px;
    cursor: pointer;
   visibility: hidden;
}

.weather h1{
   font-size: 50px;
   font-weight: 500;
}

.weather h2{
    font-size: 20px;
    font-weight: 400;
}

.humidity, .wind{
    margin-top: -5px;
}


#nameInput{
    margin: 10px 10px;
   width: 30%;
   color: white;
   padding: 10px;
   outline: none;
   border: white 2px solid;
   
}

#toggle{
    cursor: pointer;
    padding: 0 5px;
    border: none;
    background-color: white;
    justify-content: center;
}


#hoverswitch{
    visibility: hidden;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 8px;
    transform: translateX(-100%);
   white-space: nowrap;   
   top: 50px;
   left: 50px; 

}

.darkmode2:hover #hoverswitch{
    visibility: visible;
}
.dark{
    background-color: black;
    color: white;
}

.dark input{
    background-color: black;
    color: green;
}
.dark #weatherbtn {
    background-color: black;
}
#savebtn{
    color: green;
}

#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding:  10px ;
  color:#73AD21 #EE872A;
  border: 1px solid black;
}

#nameInput{
    color: black;
}

.buttons button{
    margin: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: yellow;

}

/*MODAL POP UP*/

.modaloverlay{
    display: none;
  position: fixed;
  width: 100%;
  height: 100%;
   top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.modaloverlay.show{
    display: flex;
}

.modalbox{
    width: 90%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

#openbtn , #closebtn{
    cursor: pointer;
    background-color: green;
}


#signupform{
    border-radius:20px ;
    background-color: rgb(0, 10, 48);
    margin: 40px;
    padding:60px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.field{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.field label{
    width: 200px;
}
.field input{
    background-color: white;
    border: none;
    color: black;
    width:100% ;
    padding: 10px ;
    border-radius: 4px;
}

.field input:focus{
    outline: none;
}


